#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container{
  width: 420px;
  background-color: gray;
  border-radius: 15px;
  border-width: 10px; 
}

.lista {
  word-wrap: break-word;
  margin-right: 20px;
}

.botaoAdd {
  margin-left: 10px;
  margin-bottom: 5px;
}

.txt-input {
  width: 230px;
  text-align: left;
  margin-left: 20px;
}

.icon-del {
  cursor: pointer;
}
